<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect any /public/xyz to /xyz
    RewriteCond %{REQUEST_URI} ^/public/(.*)$
    RewriteRule ^public/(.*)$ /%1 [R=301,L]
</IfModule>

<!-- <IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Ensure the base URL is correct (uncomment and adjust if needed)
    # RewriteBase /laravel_project

    # Redirect static files properly
    RewriteCond %{REQUEST_URI} !^/public/ [NC]
    RewriteCond %{REQUEST_URI} (\.\w+$) [NC]
    RewriteRule ^(.*)$ public/$1 [L,QSA]

    # Skip existing directories and files
    RewriteCond %{REQUEST_FILENAME} -d [OR]
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ - [L]

    # Redirect all other requests to Laravel's front controller
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ server.php [L]
</IfModule>

<IfModule mod_php7.c>
  php_value max_execution_time 3000
  php_value memory_limit 512M
</IfModule> -->